.menu-names {
  font-size: 24px;
  margin: 8px;
  z-index: 1000;
  color: #fff;
}
.restaurant-name {
  font-size: 28px;
  margin: 16px;
  z-index: 1000;
  color: #fff;
}

@media screen and (min-width: 601px) {
    .header {
        height: 72px;
        width: 100%;
        display: inline-flex;
        position: absolute;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1000;
      }
      .menu-items {
        display: inline-flex;
         margin: 0px 16px; 
         min-width: 500px;
        justify-content: space-evenly;
        align-items: center;
      }
}
@media screen and (max-width: 600px) {
    .header {
        height: 72px;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        align-items: center;
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
      }
      .menu-names {
      display: none;

      }
      .restaurant-name {
        font-size: 18px;
        margin: 16px;
        z-index: 1000;
        color: #fff;
        min-width: 200px
      }
      .menu-items {
          width: 100%
      }

}